albumentations==1.1.0
matplotlib==3.4.3
numpy==1.21.2
pandas==1.3.4
Pillow==8.4.0
pycocotools==2.0.2
scikit-learn==1.0
seaborn==0.11.2
torch==1.9.1
torchvision==0.10.1
wandb==0.12.5
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@35d79c1aa5fb26ba0b2c1ec67084c66d43687220
